<div class="header-container">
  <div
    [matTooltip]="
      (!isPlatNumberApplied && tooltipForDisabledBuildButton) || null
    "
  >
    <button
      mat-raised-button
      color="accent"
      [disabled]="buildingLoading || !isPlatNumberApplied"
      class="build-button"
      (click)="buildRoute()"
    >
      <mat-icon *ngIf="buildingLoading; else loaded">
        <mat-spinner color="primary" diameter="20"></mat-spinner>
      </mat-icon>
      <ng-template #loaded>BUILD A ROUTE</ng-template>
    </button>
  </div>
  <ng-container *ngIf="!isDevice; else onlyDeviceBlock">
    <button
      mat-raised-button
      color="accent"
      [matMenuTriggerFor]="menu"
      [disabled]="isExporting"
    >
      <mat-icon *ngIf="isExporting; else loaded">
        <mat-spinner color="primary" diameter="20"></mat-spinner>
      </mat-icon>
      <ng-template #loaded>DOWNLOAD</ng-template>
    </button>
    <mat-menu #menu="matMenu" xPosition="before" class="recon-menu">
      <button
        mat-menu-item
        [disabled]="isExporting"
        (click)="onClickExportType('xml')"
      >
        .xml
      </button>
      <mat-divider></mat-divider>
      <button
        mat-menu-item
        [disabled]="isExporting"
        (click)="onClickExportType('csv')"
      >
        .csv
      </button>
    </mat-menu>
  </ng-container>
  <ng-template #onlyDeviceBlock>
    <button
      mat-raised-button
      color="accent"
      (click)="openDialog()"
      [disabled]="
        (!currentDeviceLat && currentDeviceLat !== 0) ||
        (!currentDeviceLng && currentDeviceLng !== 0)
      "
    >
      SET GPS
    </button>
    <button
      mat-raised-button
      color="accent"
      class="online-streaming"
      (click)="openStreaming()"
    >
      <mat-icon aria-hidden="false" aria-label="person" class="person_icon"
        >play_arrow</mat-icon
      >Online streaming
    </button>
  </ng-template>
</div>

<div *ngIf="isDevice" class="additional-info">
  <recon-sensor-additional-info-container
    [id]="deviceId"
  ></recon-sensor-additional-info-container>
</div>

<div>
  <recon-reporting-filter-container
    [isDevice]="isDevice"
  ></recon-reporting-filter-container>
</div>

<div *ngIf="columns?.length">
  <recon-crud-table
    [data]="devices"
    [columns]="columns"
    [pageSize]="pageSize"
    [totalCount]="count"
    [currentPage]="currentPage"
    [isWithActions]="false"
    [selectedIndex]="selectedIndex"
    (rowClick$)="setSelectedDevice($event)"
    (changePage$)="loadDevices($event)"
  >
  </recon-crud-table>
</div>
<div class="slider-container">
  <span>Heat map</span>
  <recon-form-slider
    [disabled]="heatMapLoading"
    [(ngModel)]="isHeatMap"
    (changeVal)="loadHeatMapData()"
  ></recon-form-slider>
</div>
<div
  *ngIf="center && options"
  class="map"
  id="main-map"
  leaflet
  [leafletOptions]="options"
  [leafletLayers]="layers"
  [(leafletCenter)]="center"
  (leafletMapReady)="onMapReady($event)"
></div>

<ng-template #taggedDataTemplate let-element="element">
  <span
    class="table-link"
    (click)="$event.stopPropagation(); goToUrl(element.taggedData)"
  >
    Link
  </span>
</ng-template>

<ng-template #cadTagTemplate let-element="element">
  <span
    class="table-link"
    (click)="$event.stopPropagation(); goToUrl(element.fileTag)"
    *ngIf="element.fileTag; else noFileTag"
  >
    Link to cad file
  </span>
  <ng-template #noFileTag></ng-template>
</ng-template>

<ng-template #firstColumnActionsTemplate let-element="element">
  <div class="actions-container">
    <button
      mat-icon-button
      aria-label="Actions"
      [matMenuTriggerFor]="menu"
      (click)="$event?.stopPropagation()"
    >
      <mat-icon>more_vert</mat-icon>
    </button>
    <mat-menu #menu="matMenu" xPosition="before" class="recon-menu">
      <button mat-menu-item disabled>Disabled</button>
      <mat-divider></mat-divider>
      <button mat-menu-item (click)="navigateToDevice(element)">
        Relevant data
      </button>
    </mat-menu>
  </div>
</ng-template>
