<div class="new-feature-container">
  <form [formGroup]="newFeatureForm">
    <mat-error *ngIf="validationError">{{ validationError }}</mat-error>
    <recon-form-input
      label="Please include description of the problem and current process here"
      [showRequiredSymbol]="true"
      [hideAmount]="false"
      [maxLen]="10000"
      [isAutofocus]="true"
      fieldType="textarea"
      formControlName="description"
    ></recon-form-input>
    <ng-container
      *ngFor="let link of feedLinks.controls; let i = index"
      formArrayName="feedLinks"
    >
      <recon-form-input
        [label]="i === 0 ? 'Attach sensor feed link' : ''"
        [formControlName]="i"
        [isWithCloseIcon]="true"
        (clickIcon)="removeLink(i)"
      ></recon-form-input>
    </ng-container>

    <div class="add-item-to-list-container">
      <span (click)="addLink()">+ Add link...</span>
    </div>

    <recon-form-file-with-list
      [parentForm]="newFeatureForm"
      [maxSumSize]="maxFileSize"
      [maxCountOfFiles]="20"
      field="files"
      label="Attach file"
      hint="*Attach CAD drawing, sensor or other files"
    ></recon-form-file-with-list>
    <div class="button-container">
      <button
        mat-raised-button
        color="primary"
        [disabled]="loadingStatus || !newFeatureForm.valid"
        (click)="postRequest()"
      >
        <mat-icon *ngIf="loadingStatus; else loaded">
          <mat-spinner color="primary" diameter="20"></mat-spinner>
        </mat-icon>
        <ng-template #loaded>POST REQUEST</ng-template>
      </button>
    </div>
  </form>
</div>
