<!-- <iframe
  width="640"
  height="480"
  src="https://rtsp.me/embed/4efEyF4z/"
  frameborder="0"
  allowfullscreen
></iframe> -->
<video id="test_video" controls autoplay>
  <!-- <source src="rtsp://37.136.36.85:8554/cam2" /> -->
  <source
    src="rtsp://wowzaec2demo.streamlock.net/vod/mp4:BigBuckBunny_115k.mov"
  />
  Your browser doesn't support this video
</video>
<!-- 
<OBJECT
  classid="clsid:9BE31822-FDAD-461B-AD51-BE1D1C159921"
  codebase="http://downloads.videolan.org/pub/videolan/vlc/latest/win32/axvlc.cab"
  width="640"
  height="480"
  id="vlc"
  events="True"
>
  <param
    name="Src"
    value="rtsp://live:Oikeus01!@84.230.164.16:2231/axis-media/media.amp"
  />
  <param name="ShowDisplay" value="True" />
  <param name="AutoLoop" value="False" />
  <param name="AutoPlay" value="True" />
  <embed
    id="vlcEmb"
    type="application/x-google-vlc-plugin"
    version="VideoLAN.VLCPlugin.2"
    autoplay="yes"
    loop="no"
    width="640"
    height="480"
    target="rtsp://cameraipaddress"
  />
</OBJECT> -->
