<div
  [ngClass]="{ 'disabled-field': disabled }"
  class="select"
  [ngClass]="{
    'is-active': isActive,
    'recon-select-invalid': hasErrors,
    'without-value': !selectedOption?.value
  }"
  (reconClickOutside)="handleClickOutside()"
  tabindex="0"
  (blur)="onTouched()"
>
  <label [for]="uniqueId" class="select-label" *ngIf="label"
    >{{ label }}
    <span class="required" *ngIf="showRequiredSymbol">*</span></label
  >
  <div class="select-header" (click)="headerClick()" [id]="uniqueId">
    <span>{{ headerLabel }}</span>
    <div class="select-icon">
      <mat-icon aria-hidden="false" aria-label="person">{{
        isActive ? "keyboard_arrow_up" : "keyboard_arrow_down"
      }}</mat-icon>
    </div>
  </div>
  <div class="select-body">
    <div
      class="select-item"
      *ngFor="let option of options"
      (click)="optionClick(option)"
    >
      {{ option.label }}
    </div>
  </div>
</div>
