<div class="recon-modal-title">
  <h3>Set GPS</h3>
  <mat-icon [mat-dialog-close]="true">close</mat-icon>
</div>
<mat-error *ngIf="errors">{{ validationErrors }}</mat-error>
<div class="content">
  <form [formGroup]="coordinate">
    <label>
      LAT
      <input
        placeholder="Ex: 60.60"
        formControlName="latitude"
        [ngClass]="{
          'input-invalid': isValidInput('latitude')
        }"
        (blur)="inputCoordinates()"
      />
    </label>

    <label>
      LNG
      <input
        placeholder="Ex: -10.1"
        formControlName="longitude"
        [ngClass]="{
          'input-invalid': isValidInput('longitude')
        }"
        (blur)="inputCoordinates()"
      />
    </label>
  </form>

  <div *ngIf="options?.center">
    <div
      class="second-map"
      id="second-map"
      leaflet
      #secondMap
      [leafletOptions]="options"
      [leafletLayers]="layers"
      [(leafletCenter)]="center"
      (leafletClick)="mapClick($event)"
    ></div>
  </div>

  <button
    mat-raised-button
    color="primary"
    [disabled]="loadingStatus || !coordinate.valid"
    (click)="onSend()"
  >
    <mat-icon *ngIf="loadingStatus; else loaded">
      <mat-spinner color="primary" diameter="20"></mat-spinner>
    </mat-icon>
    <ng-template #loaded>SAVE</ng-template>
  </button>
</div>
