@import "../../../../variables.less";

.content {
    align-items: center;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;

    form {
        width: 100%;
        display: flex;
        justify-content: space-between;
        margin-bottom: 25px;

        label {
            width: 100%;
        }

        input {
            padding: 0 5px;
            margin: 10px 0;
            height: 30px;
            border: 1px solid @recon-border-input;
            width: calc(100% - 45px);

            &:focus {
                outline: 0px;
                border: 1px solid @recon-black;

            }

            &.input-invalid {
                border-color: @recon-error-input-border;
            }
        }
    }

    button {
        margin: 20px 0;
    }
}

.second-map#second-map {
    height: 300px;
    width: 570px;
}