<div class="footer-container">
  <div class="text-container">
    <span (click)="goToUrl('https://edgeai.eu/frequently-asked-questions')"
      >FAQ</span
    >
    <span>Information</span>
    <span>GDPR and Terms & Conditions policies</span>
    <span>Payment tool integration</span>
    <span class="copyright-label">Copyright © 2020 ReconAI. All rights reserved. </span>
  </div>
  <div class="button-container">
    <button class="recon-white-button" matRipple (click)="goToUrl('https://edgeai.eu/')">
      OUR LANDING WEBSITE
    </button>
    <button
      mat-raised-button
      color="primary"
      (click)="goToUrl('https://edgeai.eu/contact-us-1')"
    >
      CONTACT US
    </button>
  </div>
</div>
