@import "../../../../variables.less";

div.footer-container {
    height: 80px;
    background-color: @recon-black;
    display: flex;
    align-items: center;
    justify-content: space-around;


    .text-container {
        position: relative;

        span:not(.copyright-label) {
            color: white;
            cursor: pointer;

            &:not(:first-child) {
                margin-left: 15px;
            }
        }

    }

    .copyright-label {
        font-size: 12px;
        color: #929292;
        position: absolute;
        left: 0;
        top: 20px;
    }

    .button-container {
        button {
            font-size: 14px;
        }

        button:first-child {
            padding: 0 20px;
            margin-right: 10px;
            font-weight: 500;
            border: 0;
        }
    }
}