<div class="header-container" [ngClass]="{ filtering: selectedTab === 1 }">
  <mat-tab-group
    [selectedIndex]="selectedTab"
    (selectedIndexChange)="selectedTab = $event"
  >
    <mat-tab label="Devices"><div class="fake"></div></mat-tab>
    <mat-tab label="Relevant data"><div class="fake"></div></mat-tab>
  </mat-tab-group>
</div>
<ng-container *ngIf="selectedTab === 0; else filtering">
  <recon-reporting-list-devices-container></recon-reporting-list-devices-container>
</ng-container>
<ng-template #filtering>
  <recon-reporting-filtering-list-container></recon-reporting-filtering-list-container>
</ng-template>
