<div class="recon-modal-title">
  <h3>Delete device</h3>
  <mat-icon [mat-dialog-close]="true">close</mat-icon>
</div>

<span>This action would permanently delete this device. Please confirm.</span>
<div class="button-container">
  <button
    mat-raised-button
    color="primary"
    (click)="deleteDevice()"
    [disabled]="loadingStatus$ | async"
  >
    <mat-icon *ngIf="loadingStatus$ | async; else loaded">
      <mat-spinner color="primary" diameter="20"></mat-spinner>
    </mat-icon>
    <ng-template #loaded>DELETE</ng-template>
  </button>
  <button class="recon-white-button" [mat-dialog-close]="true">No</button>
</div>
