/* You can add global styles to this file, and also import other style files */
@import "./variables.less";

body {
  font-family: Roboto, Arial, sans-serif;
  font-style: normal;
  font-weight: normal;
  line-height: 19px;
  margin: 0;

  background-image: url("assets/Union.svg");
  background-repeat: no-repeat;
  background-position: right bottom;
  background-attachment: fixed;

  button[color="primary"].mat-raised-button, button[color="second"].mat-raised-button {
    box-shadow: none;
    border-radius: 0;
    min-width: 140px;
    min-height: 45px;
    text-transform: uppercase;
  }
}

html,
body {
  height: 100%;
}




// scroll styles
/* width */
::-webkit-scrollbar {
  width: 10px;
}


/* Handle */
::-webkit-scrollbar-thumb {
  background: #A7A7A7;
  border-radius: 10px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: rgba(#A7A7A7, 0.80);
}

// used for tooltips to show \n symbols
.tooltip-prelined {
  white-space: pre-line;
}

.mat-error {
  font-size: 13px;
  text-align: center;
  white-space: pre-line;
}

// it's used for modal headers
div.recon-modal-title {
  display: flex;
  justify-content: space-between;

  h3 {
    font-weight: bold;
  }

  .mat-icon {
    cursor: pointer;
  }
}


.recon-snackbar.mat-snack-bar-container {
  color: white;
  border-radius: 0;
  position: absolute;
  right: 25px;
  top: 50px;
}

.success-snackbar {
  background-color: @recon-primary-green;
}

// general menu settings
.recon-menu {
  div.mat-menu-content {
    width: 150px !important;

    button.mat-menu-item {
      display: flex;
      align-items: center;
      justify-content: flex-end;
      height: 35px;
    }
  }
}