<div class="order-item-container">
  <div class="image-container">
    <img [src]="imgUrl || 'assets/noImage.png'" />
  </div>
  <div class="field-container">
    <span class="title">{{ name }}</span>
    <div class="field">
      <span>Device amount</span> <span>{{ amount }}</span>
    </div>
    <div class="field">
      <span>VAT, %</span> <span>{{ vat }}</span>
    </div>
    <div class="field">
      <span>VAT amount</span> <span>{{ vatAmount | number: ".2-2" }} €</span>
    </div>
    <div class="field">
      <span>Price without VAT</span>
      <span>{{ priceWithoutVat | number: ".2-2" }} €</span>
    </div>
    <div class="field">
      <span>Price with VAT</span>
      <span>{{ priceWithVat | number: ".2-2" }} €</span>
    </div>
    <div class="delete-field">
      <span (click)="onDelete()">Delete</span>
    </div>
  </div>
</div>
