<h3>Forgot password</h3>
<form [formGroup]="emailForm" (ngSubmit)="sendClick()">
  <mat-error *ngIf="preResetError">{{ preResetError }}</mat-error>
  <mat-form-field>
    <mat-label>Email</mat-label>
    <input
      matInput
      placeholder="Enter your email"
      type="text"
      formControlName="email"
      required
      autocomplete="on"
      id="email"
    />
  </mat-form-field>
  <button
    mat-raised-button
    [disabled]="loading || !emailForm.valid"
    color="primary"
    type="submit"
  >
    <mat-icon *ngIf="loading; else elseBlock">
      <mat-spinner color="primary" diameter="20"></mat-spinner>
    </mat-icon>
    <ng-template #elseBlock>SEND</ng-template>
  </button>
</form>
