<mat-toolbar>
  <div class="menu-container">
    <img src="assets/logo.svg" alt="logo" (click)="navigateTo('/')" />
    <nav>
      <a routerLink="/reporting" routerLinkActive="active-link"
        >Report portal</a
      >
      <!-- <a>Streaming</a>
      <a>Filtering</a> -->
      <a routerLink="/orders" routerLinkActive="active-link">Order portal</a>
      <!-- reduce count of alike reconCheckUserRolePriority -->
      <!-- <a *reconCheckUserRolePriority="userRolePriorities.ADMIN_ROLE">Devices</a>
      <a *reconCheckUserRolePriority="userRolePriorities.ADMIN_ROLE">Alarms</a>
      <a *reconCheckUserRolePriority="userRolePriorities.CLIENT_ROLE"
        >User settings</a
      > -->
      <a routerLink="/new-feature" routerLinkActive="active-link"
        >New Feature
      </a>
      <a routerLink="/devices" routerLinkActive="active-link">Devices</a>
    </nav>
  </div>
  <div class="right-part-container">
    <recon-basket-container></recon-basket-container>
    <recon-user-menu-container></recon-user-menu-container>
  </div>
</mat-toolbar>
<mat-divider></mat-divider>
