<div class="three-inputs-container">
  <label> {{ label }}</label>
  <div class="inputs-container">
    <div class="input-container">
      <label>{{ leftLabel }}</label>
      <recon-filter-input
        [(ngModel)]="left"
        (changeVal)="changeValue()"
        (blurVal)="blurValue()"
      ></recon-filter-input>
    </div>
    <div class="input-container">
      <label>{{ middleLabel }}</label>
      <recon-filter-input
        [(ngModel)]="middle"
        (changeVal)="changeValue()"
        (blurVal)="blurValue()"
      ></recon-filter-input>
    </div>
    <div class="input-container">
      <label>{{ rightLabel }}</label>
      <recon-filter-input
        [(ngModel)]="right"
        (changeVal)="changeValue()"
        (blurVal)="blurValue()"
      ></recon-filter-input>
    </div>
    <div class="input-container">
      <recon-form-checkbox
        [(ngModel)]="checked"
        [label]="checkboxLabel"
        (changeVal)="changeValue(); blurValue()"
      ></recon-form-checkbox>
    </div>
  </div>
</div>
