<p>management works!</p>
<mat-table [dataSource]="data">
    <ng-container matColumnDef="firstName">
        <mat-header-cell *matHeaderCellDef>First name</mat-header-cell>
        <mat-cell *matCellDef="let element">{{element.firstName}}</mat-cell>
    </ng-container>

    <ng-container matColumnDef="lastName">
        <mat-header-cell *matHeaderCellDef>Last name</mat-header-cell>
        <mat-cell *matCellDef="let element">{{element.lastName}}</mat-cell>
    </ng-container>

    <ng-container matColumnDef="email">
        <mat-header-cell *matHeaderCellDef>Email</mat-header-cell>
        <mat-cell *matCellDef="let element">{{element.email}}</mat-cell>
    </ng-container>

    <ng-container matColumnDef="phone">
        <mat-header-cell *matHeaderCellDef>Phone</mat-header-cell>
        <mat-cell *matCellDef="let element">{{element.phone}}</mat-cell>
    </ng-container>

    <ng-container matColumnDef="isActive">
        <mat-header-cell *matHeaderCellDef>Is active</mat-header-cell>
        <mat-cell *matCellDef="let element">{{element.isActive}}</mat-cell>
    </ng-container>

    <ng-container matColumnDef="role">
        <mat-header-cell *matHeaderCellDef>Role</mat-header-cell>
        <mat-cell *matCellDef="let element">{{element.role}}</mat-cell>
    </ng-container>

    <mat-header-row *matHeaderRowDef="columns" class="recon-table-row"></mat-header-row>
    <mat-row *matRowDef="let row; columns: columns;" class="recon-table-row"></mat-row>
</mat-table>