<div [formGroup]="parentForm" class="form-field-container">
  <label for="file-upload" class="custom-file-upload">
    <object data="../../../assets/icons/clip.svg" width="20" height="17">
      Your browser does not support SVG
    </object>
    {{ label | uppercase }}
  </label>

  <input
    id="file-upload"
    type="file"
    multiple
    (change)="onFilesChange($event)"
    [accept]="accept || ''"
  />
   <span class="hint-attach">*Attach CAD draving, sensor or other files</span>
  <div
    [formArrayName]="field"
    *ngFor="let file of files.controls; let i = index"
    class="files-container"
  >
    <div [formGroupName]="i" class="file-name-container">
      <mat-icon>insert_drive_file</mat-icon>
      <span
        [ngClass]="{ 'link-to-file': file?.value?.path }"
        (click)="openFileInTab(file?.value?.path)"
        >{{ file?.value?.name }}</span
      >
      <span class="remove-icon" (click)="removeFile(i)">&times;</span>
    </div>
  </div>
</div>
