<ng-container *ngIf="!(loadingStatus$ | async); else loading">
  <ng-container
    *ngIf="selectedDeviceList && selectedDeviceList.length; else notFound"
  >
    <recon-reporting-list-devices
      [isDevice]="true"
      [count]="count$ | async"
      [currentPage]="currentPage$ | async"
      [pageSize]="pageSize$ | async"
      [devices]="selectedDeviceList"
      [routePoints]="routePoints$ | async"
      [heatMapData]="heatMapData$ | async"
      [isPlatNumberApplied]="isPlatNumberApplied$ | async"
      [buildingLoading]="buildingLoading$ | async"
      [heatMapLoading]="heatMapLoading$ | async"
      (buildRoute$)="buildRoute()"
      (loadDevices$)="loadDevices($event)"
      (loadHeatMapData$)="loadHeatMapData()"
    ></recon-reporting-list-devices>
  </ng-container>
  <ng-template #notFound>Not found.</ng-template>
</ng-container>
<ng-template #loading>Loading...</ng-template>
