<ng-container *ngIf="!(loadingStatus$ | async); else loading">
  <ng-container
    *ngIf="selectedDeviceList && selectedDeviceList.length; else notFound"
  >
    <recon-reporting-list-devices
      [isDevice]="true"
      [count]="count$ | async"
      [currentPage]="currentPage$ | async"
      [pageSize]="pageSize$ | async"
      [devices]="selectedDeviceList"
      (loadDevices$)="loadDevices($event)"
    ></recon-reporting-list-devices>
  </ng-container>
  <ng-template #notFound>Not found.</ng-template>
</ng-container>
<ng-template #loading>Loading...</ng-template>
