<div class="recon-modal-title">
  <h3>Delete</h3>
  <mat-icon [mat-dialog-close]="true">close</mat-icon>
</div>
<span
  >This action would permanently delete this user. Please confirm.</span>
<div class="button-container">
  <button
    mat-raised-button
    color="primary"
    (click)="deleteClick()"
    [disabled]="isLoading"
  >
    <mat-icon *ngIf="isLoading; else loaded">
      <mat-spinner color="primary" diameter="20"></mat-spinner>
    </mat-icon>
    <ng-template #loaded>DELETE</ng-template>
  </button>
  <button mat-raised-button color="accent" [mat-dialog-close]="true">No</button>
</div>
