<ng-container *ngIf="!loadingStatus; else loading">
  <recon-crud-table
    [data]="purchases"
    [columns]="columns"
    [pageSize]="pageSize"
    [totalCount]="totalCount"
    [currentPage]="currentPage"
    (changePage$)="loadPurchases($event)"
    (rowClick$)="purchaseClick($event)"
    [isWithActions]="false"
  ></recon-crud-table>
</ng-container>
<ng-template #loading> Loading... </ng-template>

<ng-template #successColumn let-element="element">
  <ng-container *ngIf="element.success; else failed">
    <mat-icon>done</mat-icon>
  </ng-container>
  <ng-template #failed>
    <mat-icon>clear</mat-icon>
  </ng-template>
</ng-template>
