.router-outlet-wrapper {
    width: 80%;
    margin-left: 10%;
    margin-top: 40px;
    // 64px - header
    // 80px - footer
    // 40px - margin
    // 1 - for remove scroll
    min-height: calc(100% - 64px - 80px - 40px - 1px);

    h2 {
        font-weight: bold;
        font-size: 22px;
    }

    &.with-breadcrumbs {
        min-height: calc(100% - 64px - 80px - 40px - 1px - 52px);
    }
}

.loader-container {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}