<div class="left-part">
  <recon-order-item> </recon-order-item>
  <mat-divider></mat-divider>
  <recon-order-item> </recon-order-item>
  <mat-divider></mat-divider>

  <recon-order-item> </recon-order-item>
  <mat-divider></mat-divider>

  <recon-order-item> </recon-order-item>
  <mat-divider></mat-divider>

  <recon-order-item> </recon-order-item>
  <mat-divider></mat-divider>
  <recon-order-last-item></recon-order-last-item>
  <recon-delivery-information></recon-delivery-information>
  <div class="button-container">
      <button mat-raised-button color="primary">BUY</button>
  </div>
</div>
