@import "../../../../variables.less";

.icon-container {
    height: 30px;
    width: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    background-color: @recon-black;
}