<div class="filter-container">
  <div class="icon-container" matRipple (click)="openDialog()">
    <img src="assets/icons/map-marker.svg" height="20" width="20" />
  </div>

  <div
    class="labels-container"
    [ngClass]="{
      'with-value': topLeftLat || topLeftLng || bottomRightLat || bottomRightLng
    }"
    *ngIf="topLeftLat || topLeftLng || bottomRightLat || bottomRightLng"
  >
    <div>
      <span
        ><span class="field-title">TL</span> {{ topLeftLat | number: ".5-5" }},
        {{ topLeftLng | number: ".5-5" }}
      </span>
    </div>
    <div>
      <span
        ><span class="field-title">BR</span>
        {{ bottomRightLat | number: ".5-5" }},
        {{ bottomRightLng | number: ".5-5" }}
      </span>
    </div>
  </div>
</div>
