<ng-container *ngIf="isLoadingActivating; else activated">
  Activating...
</ng-container>
<ng-template #activated>
  <div class="user-container">
    <recon-user-profile
      [errors]="errors"
      [showTerms]="true"
      [isInvitation]="true"
      [disabledUserEmail]="true"
      [userFirstName]="firstName"
      [userLastName]="lastName"
      [loading]="isLoadingSignUp"
      [userEmail]="email"
      fieldType="password"
      [profileUsername]="userUsername"
      (sendUserInfo$)="invitationSignUp($event)"
    >
    </recon-user-profile>
  </div>
</ng-template>
