// it's used to remove moving of content
.fake {
    height: 1px;
}

.header-container {
    display: flex;

    button {
        margin-left: 10px;
    }

    .mat-tab-group {
        width: 100%;
    }
}

.map {
    height: 400px;
    margin-top: 20px;
    width: 100vw;
    margin-left: -13%;
}