<ng-container *ngIf="!(loadingStatus$ | async); else loading">
  <recon-reporting-list-devices
    [count]="count$ | async"
    [currentPage]="currentPage$ | async"
    [pageSize]="pageSize$ | async"
    [devices]="reportingDeviceList$ | async"
    [routePoints]="routePoints$ | async"
    [heatMapData]="heatMapData$ | async"
    [isPlatNumberApplied]="isPlatNumberApplied$ | async"
    [buildingLoading]="buildingLoading$ | async"
    [isExporting]="exportingStatus$ | async"
    [heatMapLoading]="heatMapLoading$ | async"
    (buildRoute$)="buildRoute()"
    (loadDevices$)="loadDevices($event)"
    (exportRelevantData$)="exportRelevantData($event)"
    (loadHeatMapData$)="loadHeatMapData()"
  ></recon-reporting-list-devices>
</ng-container>
<ng-template #loading>Loading...</ng-template>
