<div>
  <recon-crud-table
    [data]="sensors"
    [columns]="columns"
    [pageSize]="pageSize"
    [totalCount]="count"
    [currentPage]="currentPage"
    [isWithActions]="false"
    [selectedIndex]="selectedIndex"
    allCellsTooltipText="Double click to navigate to device page"
    (changePage$)="loadDevices($event)"
    (rowClick$)="setSelectedDevice($event)"
    (rowDoubleClick$)="navigateToDevice($event)"
    >
  </recon-crud-table>
</div>
<div
  *ngIf="center && options"
  class="map"
  id="sensors-map"
  leaflet
  [leafletOptions]="options"
  [leafletLayers]="layers"
  [(leafletCenter)]="center"
></div>
