@import "../../../../variables.less";

div {
    display: flex;
    align-items: center;
    justify-content: center;
    color: @recon-black;
    // height: 20px;

    &>span {
        font-size: 14px;
    }

    .switcher {
        font-size: 30px;
        font-weight: 100;
        cursor: pointer;

        &:first-child {
            margin-right: 10px;
        }

        &:last-child {
            margin-left: 10px;
        }

        &.disabled {
            cursor: default;
            opacity: 0.3;
        }
    }
}