<div>
  <ng-container *ngIf="currentPage">
    <img
      src="../../../assets/icons/arrow-left.svg"
      width="20"
      height="17"
      class="switcher"
      [ngClass]="{ disabled: startDisabled }"
      (click)="selectPage(currentPage - 1, false)"
    />
    <span>{{ label }}</span>
    <img
      src="../../../assets/icons/arrow-right.svg"
      width="20"
      height="17"
      class="switcher"
      [ngClass]="{ disabled: endDisabled }"
      (click)="selectPage(currentPage + 1, true)"
    />
  </ng-container>
</div>
