@import "../../../../variables.less";

div {
    display: flex;
    align-items: center;
    justify-content: center;
    color: @recon-black;

    &>span {
        font-size: 14px;

        &:not(:last-child) {
            margin-right: 10px;
        }
    }

    .switcher {
        font-size: 30px;
        font-weight: 100;
        cursor: pointer;

        &.disabled {
            cursor: default;
            opacity: 0.3;
        }
    }
}