<div class="order-item-container">
  <div class="image-container">
    <img [src]="imgUrl || 'assets/noImage.png'" />
  </div>
  <div class="field-container">
    <span class="title">{{ name }}</span>
    <div class="field" *ngIf="!hideOrderId">
      <span>Order id</span> <span class="without-euro">{{ orderId }}</span>
    </div>
    <div class="field" *ngIf="!hidePaymentDate">
      <span>Payment date</span>
      <span class="without-euro">{{ paymentDate }}</span>
    </div>
    <div class="field">
      <span>Device amount</span> <span class="without-euro">{{ amount }}</span>
    </div>
    <div class="field">
      <span>VAT, %</span> <span class="without-euro">{{ vat }}</span>
    </div>
    <div class="field">
      <span>VAT amount</span> <span>{{ vatAmount | number: ".2-2" }} €</span>
    </div>
    <div class="field">
      <span>Price without VAT</span>
      <span>{{ priceWithoutVat | number: ".2-2" }} €</span>
    </div>
    <div class="field">
      <span>Price with VAT</span>
      <span>{{ priceWithVat | number: ".2-2" }} €</span>
    </div>
    <div class="delete-field" *ngIf="!hideDelete">
      <span (click)="onDelete()">Delete</span>
    </div>
  </div>
</div>
