<div class="recon-modal-title">
  <h3>Add new card</h3>
  <mat-icon [mat-dialog-close]="true">close</mat-icon>
</div>

<form (ngSubmit)="onSubmitStripe()">
  <div class="form-row">
    <div id="card-element" #cardInfo></div>
    <div id="card-errors" role="alert" *ngIf="error">{{ error }}</div>
  </div>
  <div class="button-container">
    <button
      mat-raised-button
      color="primary"
      [disabled]="loadingStatus || !!error"
    >
      <mat-icon *ngIf="loadingStatus; else loaded">
        <mat-spinner color="primary" diameter="20"></mat-spinner>
      </mat-icon>
      <ng-template #loaded>ADD</ng-template>
    </button>
  </div>
</form>
