<div class="input-checkbox-container">
  <label> {{ label }}</label>
  <div class="inputs-container">
    <div class="input-icon">
      <recon-filter-input
        [(ngModel)]="inputValue"
        [placeholder]="placeholder"
        (changeVal)="changeValues()"
        (blurVal)="blurValue()"
      >
      </recon-filter-input>
    </div>
    <recon-form-checkbox
      [(ngModel)]="checked"
      [label]="checkboxLabel"
      (changeVal)="changeValues(); blurValue()"
    ></recon-form-checkbox>
  </div>
</div>
