{% load i18n %}{% autoescape off %}

{% trans "Hi " %}{{ user.get_username }},
{% trans "We received a request to change the password from your user account at " %}{{ site_name }}.
{% trans "To change it, follow the link:" %}
{% block reset_link %}
{{ reset_password_link }}
{% endblock %}
{% trans 'Your Login, in case you’ve forgotten:' %} {{ user.get_username }}

{% trans "If you did not send the request, just ignore this letter." %}
{% trans "Your password will not change until you follow the link and enter new data." %}

{% trans "Thanks for using our site!" %}
{% blocktrans %}The {{ app_name }} portal team{% endblocktrans %}

{% endautoescape %}