<div class="delivery-information-container">
  <div class="delivery-info">
    <div class="title-container">
      <span>Delivery information</span>
    </div>
    <div class="field">
      <span>Company: </span>
      <span>{{ company }}</span>
    </div>
    <div class="field">
      <span>Contact person: </span>
      <span>{{ person }}</span>
    </div>
    <div class="field">
      <span>Phone: </span>
      <span>{{ phone }}</span>
    </div>
    <div class="field">
      <span>Email: </span>
      <span>{{ email }}</span>
    </div>
    <div class="field">
      <span>Delivery address: </span>
      <span>{{ address }}</span>
    </div>
  </div>
  <div class="icon-container">
    <img src="assets/icons/truck.svg" height="120px" width="120px" />
  </div>
</div>
