<ng-container
  *ngIf="!(loadingDeviceStatus$ | async) && !(loadingManufacturerListStatus$ | async); else loading"
>
  <ng-container *ngIf="isExist$ | async; else notFound">
    <recon-create-device
      [name]="name$ | async"
      [images]="images$ | async"
      [product]="product$ | async"
      [seoTags]="seoTags$ | async"
      [seoTitle]="seoTitle$ | async"
      [salesPrice]="salesPrice$ | async"
      [description]="description$ | async"
      [buyingPrice]="buyingPrice$ | async"
      [allCategories]="categories$ | async"
      [manufacturers]="manufacturers$ | async"
      [seoDescription]="seoDescription$ | async"
      [validationError]="validationError$ | async"
      [manufacturerId]="manufacturerId$ | async"
      [loading]="isUpdating$ | async"
      (sendDevice$)="sendDevice($event)"
    ></recon-create-device>
  </ng-container>
  <ng-template #notFound>
    Device is not found
  </ng-template>
</ng-container>

<ng-template #loading>
  Loading...
</ng-template>
