@import "../../../../../variables.less";
span {
    font-size: 16px;
}

.person_icon {
    margin-top: -5px;
    margin-right: 6px;
    font-size: 27px;
}

div.mat-menu-content {
    width: 150px !important;

    button.mat-menu-item {
        display: flex;
        align-items: center;
        justify-content: flex-end;
        height: 35px;
    }
}

.sign-in-label {
    color: @recon-primary-green;
}

