<div
  *ngIf="userPriority >= userRolePriorities.CLIENT_ROLE; else elseBlock"
  matRipple
  class="user-menu-container"
>
  <div
    [matMenuTriggerFor]="menu"
    #trigger="matMenuTrigger"
    class="user-menu-button"
  >
    <mat-icon aria-hidden="false" aria-label="person" class="person_icon"
      >person_outline</mat-icon
    >
    <div>
      <span>{{ userName }}</span>
      <span class="role-label">{{ userRole }}</span>
    </div>
    <mat-icon aria-hidden="false" aria-label="person">{{
      trigger.menuOpen ? "keyboard_arrow_up" : "keyboard_arrow_down"
    }}</mat-icon>
  </div>
  <mat-menu #menu="matMenu" xPosition="before" class="recon-menu">
    <button mat-menu-item (click)="onNavigate('profile')">Profile</button>
    <mat-divider></mat-divider>
    <button mat-menu-item (click)="onNavigate('invoice')">Invoice history</button>

    <mat-divider></mat-divider>
    <ng-container
      *reconCheckUserRolePriority="userRolePriorities.DEVELOPER_ROLE"
    >
      <button mat-menu-item (click)="onNavigate('users')">
        User management
      </button>
      <mat-divider></mat-divider>
    </ng-container>
    <button mat-menu-item (click)="logout()">Log Out</button>
  </mat-menu>
</div>
<ng-template #elseBlock>
  <button mat-button (click)="openDialog()">
    <mat-icon aria-hidden="false" aria-label="person" class="person_icon"
      >person_outline</mat-icon
    >
    <span class="sign-in-label">Sign In</span>
  </button>
</ng-template>
