<recon-current-user-profile
  [organizationName]="organizationName$ | async"
  [organizationPhone]="organizationPhone$ | async"
  [organizationEmail]="organizationEmail$ | async"
  [organizationAddress]="organizationAddress$ | async"
  [organizationVat]="organizationVat$ | async"
  [organizationFirstName]="organizationFirstName$ | async"
  [organizationLastName]="organizationLastName$ | async"
  [userPhone]="userPhone$ | async"
  [userEmail]="userEmail$ | async"
  [userAddress]="userAddress$ | async"
  [userFirstName]="userFirstName$ | async"
  [userLastName]="userLastName$ | async"
  [invoicingPhone]="invoicingPhone$ | async"
  [invoicingEmail]="invoicingEmail$ | async"
  [invoicingAddress]="invoicingAddress$ | async"
  [invoicingFirstName]="invoicingFirstName$ | async"
  [invoicingLastName]="invoicingLastName$ | async"
  [userRolePriority]="userRolePriority$ | async"
  [errors]="error$ | async"
  [sendLoadingStatus]="isLoading$ | async"
  (updateUser$)="updateUser($event)"
></recon-current-user-profile>
