@import "../../../variables.less";

.user-profile-container {
    display: flex;

    .user-container {
        width: 70%;
    }

    .cards-container {
        margin-left: 10px;
        margin-top: 20px;

        .payment-label {
            color: @recon-gray;
            padding: 15px 0px;
            font-weight: 500;
        }

        .change-password-button {
            min-width: 190px;
            .padlock-icon {
                margin-top: -6px;
            }
        }


    }

}

.card-views-container {
    margin-top: 10px;
    max-height: 395px;
    width: 380px;
    overflow: auto;
}