<h3 class="recon-modal-title">Enter new password</h3>
<form [formGroup]="passwordForm" (ngSubmit)="onSubmit()">
  <mat-error *ngIf="validationError">{{ validationError }}</mat-error>
  <mat-form-field appearance="standard">
    <mat-label>Password</mat-label>
    <input
      matInput
      placeholder="Input password"
      type="password"
      formControlName="password1"
      required
      autofocus
      autocomplete="on"
      id="password1"
    />
    <mat-icon
      matSuffix
      [matTooltip]="passwordTooltipText"
      matTooltipClass="tooltip-prelined"
    >
      help_outline
    </mat-icon>
  </mat-form-field>
  <mat-form-field appearance="standard">
    <mat-label>Confirm password</mat-label>
    <input
      matInput
      placeholder="Confirm password"
      type="password"
      formControlName="password2"
      autocomplete="on"
      required
      id="password2"
    />
  </mat-form-field>
  <button
    mat-raised-button
    color="primary"
    [disabled]="loadingStatus || !passwordForm.valid"
  >
    <mat-icon *ngIf="loadingStatus; else elseBlock">
      <mat-spinner color="primary" diameter="20"></mat-spinner>
    </mat-icon>
    <ng-template #elseBlock>SEND</ng-template>
  </button>
</form>
