<div class="card-container">
  <div class="left-part">
    <recon-image-left-card-block
      [images]="images"
    ></recon-image-left-card-block>
  </div>
  <div class="right-part">
    <recon-right-info-part-block
      [name]="name"
      [category]="category"
      [description]="description"
      [manufacturer]="manufacturer"
      [salesPrice]="salesPrice"
      [salesPriceWithVat]="salesPriceWithVat"
      [product]="product"
      [isAbleToBuy]="isAbleToBuy"
      (addToBasket$)="addToBasket($event)"
    ></recon-right-info-part-block>
  </div>
</div>
