<div class="info-container">
  <h2>{{ name }}</h2>
  <div class="description-container">
    <div class="field">
      <span class="title"> Product number </span>
      <span> {{ product }}</span>
    </div>

    <div class="field">
      <span class="title"> Manufacturer </span>
      <span> {{ manufacturer }}</span>
    </div>
    <div class="field">
      <span class="title"> Device category </span>
      <span> {{ category }}</span>
    </div>

    <div class="technical-description-container">
      <span class="title"> Technical description </span>
      <span class="description"> {{ description }}</span>
    </div>

    <ng-container *ngIf="isAbleToBuy">
      <div class="field three-columned-field">
        <div class="block">
          <span class="title">Device amount</span>
          <div class="input-number-container">
            <div class="sign" (click)="addValue(-1)"><span>-</span></div>
            <input
              [(ngModel)]="amount"
              (change)="validateInput($event.target.value)"
            />
            <div class="sign" (click)="addValue(1)"><span>+</span></div>
          </div>
        </div>
        <div class="block">
          <span class="title">Single device price</span>
          <div class="three-columned-value-container">
            <span class="three-columned-value"
              >{{ singleDevicePrice | number: ".2-2" }}
              <span class="euro-symbol">€</span></span
            >
          </div>
        </div>
        <div class="block">
          <span class="title">Total price of devices</span>
          <div class="three-columned-value-container">
            <span
              >{{ totalDevicesPrice | number: ".2-2" }}
              <span class="euro-symbol">€</span></span
            >
          </div>
        </div>
      </div>

      <div class="field">
        <span class="title"> Monthly device license fee </span>
        <span class="value">
          {{ fee | number: ".2-2" }} <span class="euro-symbol">€</span></span
        >
      </div>
      <div class="field">
        <span class="title"> VAT, % </span>
        <span class="value vat"> {{ vat | number: ".0-2" }}</span>
      </div>
      <div class="field">
        <span class="title"> VAT amount </span>
        <span class="value">
          {{ vatAmount | number: ".2-2" }}
          <span class="euro-symbol">€</span></span
        >
      </div>
      <div class="field">
        <span class="title"> Total price without VAT </span>
        <span class="value">
          {{ totalDevicesPriceWithoutVat | number: ".2-2" }}
          <span class="euro-symbol">€</span></span
        >
      </div>
      <div class="field">
        <span class="title"> Total price with VAT </span>
        <span class="value">
          {{ totalDevicesPrice | number: ".2-2" }}
          <span class="euro-symbol">€</span></span
        >
      </div>

      <div class="button-container">
        <button mat-raised-button color="primary" (click)="addToBasket()">
          ADD TO BASKET
        </button>
      </div>
    </ng-container>
  </div>
</div>
