<div class="info-container">
  <h2>{{ name }}</h2>

  <mat-tab-group>
    <mat-tab label="Description">
      <div class="description-container">
        <span class="title"> Manufacturer </span>
        <span class="value"> {{ manufacturer }}</span>
        <span class="title"> Device category </span>
        <span class="value"> {{ category }}</span>
        <span class="title"> Technical description </span>
        <span class="value"> {{ description }}</span>
      </div>
    </mat-tab>
    <!-- <mat-tab label="Licenses packages">Licenses packages</mat-tab> -->
  </mat-tab-group>
</div>
