.sign-in-form {
    margin-top: 10%;
}

.sign-up-form {
    margin-top: 5%;
}

form {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

    .field-container,
    .additional-info-container {
        width: 80%;

        .mat-form-field {
            width: 100%;
        }
    }

    .mat-icon,
    .additional-info-container>p {
        cursor: pointer;
    }

    .additional-info-container {
        display: flex;
        justify-content: space-between;

        p {
            text-decoration: underline;

            &:hover {
                font-weight: 500;
            }
        }
    }


    button {
        margin-top: 10px;
        margin-bottom: 5px;
        width: 170px;
    }
}