<recon-reporting-filter
  [isDevice]="isDevice"
  [initializedFilters]="(isDevice ? singularDeviceFilters$ : filters$) | async"
  [eventObjects]="eventObjects$ | async"
  [projectNames]="projectNames$ | async"
  [plateNumbers]="plateNumbers$ | async"
  [vehicleTypes]="vehicleTypes$ | async"
  [pedestrianFlow]="pedestrianFlow$ | async"
  [roadWeatherConditions]="roadWeatherConditions$ | async"
  (changeFilters)="changeFilters($event)"
  (applyFilters)="applyFilters()"
  (resetFilters)="resetFilters()"
  (changeAutocompleteFields)="changeWithAutocomplete($event)"
>
</recon-reporting-filter>
