<div class="filter-container">
  <recon-form-slider [(ngModel)]="isOr" label="And / Or"></recon-form-slider>
  <!-- <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle> -->
  <!-- <mat-date-range-picker #picker></mat-date-range-picker> -->

  <!-- <mat-label>Enter a date range</mat-label>
  <mat-date
    <input matStartDate matInput placeholder="Start date" />
    <input matEndDate matInput placeholder="End date" />
  </mat-date-range-input>
  <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
  <mat-date-range-picker #picker></mat-date-range-picker> -->
  <!-- <mat-date-range-picker #picker></mat-date-range-picker> -->
  <!-- <rang>fffffffffffffffffffffff</rang> -->
  <mat-form-field appearance="fill">
    <mat-label>Choose a date</mat-label>
    <input matInput [matDatepicker]="picker" />
    <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
    <mat-datepicker #picker></mat-datepicker>
  </mat-form-field>
</div>
