@import "../../../../variables.less";

.filter-container {
    margin: 15px 0;
    padding: 0 10px;
    background-color: @recon-background-input;
    width: 100%;
    height: 100px;
    border: 2px dashed @recon-border-input;
    box-sizing: border-box;

    display: flex;
    align-items: center;
    justify-content: space-between;

    div.filters {
        display: flex;
        align-items: center;
        width: 80%;
        height: 57px;
        overflow-x: auto;
        height: 100%;

        div.filter {
            display: none;
            margin-left: 10px;

            &.shown-filter {
                display: block;
            }

            &.input-filter {
                min-width: 119px;
                width: 119px;
            }

            &.input-checkbox-filter {
                min-width: 240px;
                width: 240px;
            }

            &.checkbox-filter {
                min-width: 115px;
                width: 115px;
                display: flex;
                justify-content: center;
                align-items: center;
                margin-top: 16px;
            }

            &.and-or {
                display: block;
                min-width: 60px;
            }

            &.active {
                display: block;
            }
        }
    }

    .button-container {
        display: flex;
        align-items: center;
        justify-content: center;
        height: 100%;

        div.filter-button {
            display: flex;
            align-items: center;
            justify-content: center;
            background-color: white;
            box-sizing: border-box;
            border: 1px solid @recon-border-input;
            height: 45px;
            width: 60px;
            cursor: pointer;


            &:not(:last-child) {
                margin-right: 5px;
            }

            &:hover {
                img {
                    opacity: 0.7;
                }
            }

            &.green-filter {
                background-color: @recon-primary-green;

            }
        }
    }
}

.filter-item {
    width: 100%;
    box-sizing: border-box;
    cursor: pointer;
    padding: 7px 0px 7px 5px;
    display: flex;
    align-items: center;

    &.disabled {
        opacity: 0.7;
    }
}