@import "../../../../variables.less";

.filter-container {
    margin: 15px 0;
    background-color: @recon-background-input;
    width: 100%;
    height: 85px;
    border: 2px dashed @recon-border-input;

    display: flex;
    align-items: center;
}

