<form [formGroup]="categoriesForm">
  <ng-container
    *ngFor="let category of categories.controls; let i = index"
    formArrayName="categories"
  >
    <ng-container [formGroupName]="i">
      <recon-form-input
        label=""
        formControlName="name"
        [isWithCloseIcon]="true"
        [closeTooltip]="
          category?.get('manufacturers_count')?.value ? closeTooltip : null
        "
        [disabledCloseIcon]="!!category?.get('manufacturers_count')?.value"
        (clickIcon)="removeCategory(i, category.value)"
      ></recon-form-input>
    </ng-container>
  </ng-container>

  <div class="add-item-to-list-container">
    <span (click)="addCategory()">+ Add category...</span>
  </div>

  <div class="button-container">
    <button
      mat-raised-button
      color="primary"
      [disabled]="!categories.length || loadingUpdateStatus || !categoriesForm.valid"
      (click)="sendCategories()"
    >
      <mat-icon *ngIf="loadingUpdateStatus; else loaded">
        <mat-spinner color="primary" diameter="20"></mat-spinner>
      </mat-icon>
      <ng-template #loaded>SAVE</ng-template>
    </button>
  </div>
</form>
